<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finley.gmair.dao.UnifiedShopDOMapper">
    <resultMap id="BaseResultMap" type="finley.gmair.model.entity.UnifiedShopDO">
        <constructor>
            <idArg column="shop_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="platform" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="sid" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="channel" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="shop_title" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="start_pull_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="last_pull_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="app_key" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="app_secret" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="session_key" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="authorize_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="expire_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="sys_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="sys_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="sys_block_flag" javaType="java.lang.Boolean" jdbcType="BIT"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        shop_id, platform, sid, channel, shop_title, start_pull_time, last_pull_time, app_key,
    app_secret, session_key, authorize_time, expire_time, sys_create_time, sys_update_time, 
    sys_block_flag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unified_shop
        where shop_id = #{shopId,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="finley.gmair.model.entity.UnifiedShopDO">
        insert into unified_shop (shop_id, platform, sid,
                                  channel, shop_title, start_pull_time,
                                  last_pull_time, app_key, app_secret,
                                  session_key, authorize_time, expire_time,
                                  sys_create_time, sys_update_time, sys_block_flag)
        values (#{shopId,jdbcType=VARCHAR}, #{platform,jdbcType=INTEGER}, #{sid,jdbcType=VARCHAR},
                #{channel,jdbcType=VARCHAR}, #{shopTitle,jdbcType=VARCHAR}, #{startPullTime,jdbcType=TIMESTAMP},
                #{lastPullTime,jdbcType=TIMESTAMP}, #{appKey,jdbcType=VARCHAR}, #{appSecret,jdbcType=VARCHAR},
                #{sessionKey,jdbcType=VARCHAR}, #{authorizeTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP},
                #{sysCreateTime,jdbcType=TIMESTAMP}, #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysBlockFlag,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="finley.gmair.model.entity.UnifiedShopDO">
        insert into unified_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="platform != null">
                platform,
            </if>
            <if test="sid != null">
                sid,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="shopTitle != null">
                shop_title,
            </if>
            <if test="startPullTime != null">
                start_pull_time,
            </if>
            <if test="lastPullTime != null">
                last_pull_time,
            </if>
            <if test="appKey != null">
                app_key,
            </if>
            <if test="appSecret != null">
                app_secret,
            </if>
            <if test="sessionKey != null">
                session_key,
            </if>
            <if test="authorizeTime != null">
                authorize_time,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="sysCreateTime != null">
                sys_create_time,
            </if>
            <if test="sysUpdateTime != null">
                sys_update_time,
            </if>
            <if test="sysBlockFlag != null">
                sys_block_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">
                #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="platform != null">
                #{platform,jdbcType=INTEGER},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>
            <if test="shopTitle != null">
                #{shopTitle,jdbcType=VARCHAR},
            </if>
            <if test="startPullTime != null">
                #{startPullTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastPullTime != null">
                #{lastPullTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appKey != null">
                #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="appSecret != null">
                #{appSecret,jdbcType=VARCHAR},
            </if>
            <if test="sessionKey != null">
                #{sessionKey,jdbcType=VARCHAR},
            </if>
            <if test="authorizeTime != null">
                #{authorizeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysCreateTime != null">
                #{sysCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUpdateTime != null">
                #{sysUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysBlockFlag != null">
                #{sysBlockFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finley.gmair.model.entity.UnifiedShopDO">
        update unified_shop
        <set>
            <if test="platform != null">
                platform = #{platform,jdbcType=INTEGER},
            </if>
            <if test="sid != null">
                sid = #{sid,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                channel = #{channel,jdbcType=VARCHAR},
            </if>
            <if test="shopTitle != null">
                shop_title = #{shopTitle,jdbcType=VARCHAR},
            </if>
            <if test="startPullTime != null">
                start_pull_time = #{startPullTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastPullTime != null">
                last_pull_time = #{lastPullTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appKey != null">
                app_key = #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="appSecret != null">
                app_secret = #{appSecret,jdbcType=VARCHAR},
            </if>
            <if test="sessionKey != null">
                session_key = #{sessionKey,jdbcType=VARCHAR},
            </if>
            <if test="authorizeTime != null">
                authorize_time = #{authorizeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysCreateTime != null">
                sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUpdateTime != null">
                sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysBlockFlag != null">
                sys_block_flag = #{sysBlockFlag,jdbcType=BIT},
            </if>
        </set>
        where shop_id = #{shopId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="finley.gmair.model.entity.UnifiedShopDO">
        update unified_shop
        set platform        = #{platform,jdbcType=INTEGER},
            sid             = #{sid,jdbcType=VARCHAR},
            channel         = #{channel,jdbcType=VARCHAR},
            shop_title      = #{shopTitle,jdbcType=VARCHAR},
            start_pull_time = #{startPullTime,jdbcType=TIMESTAMP},
            last_pull_time  = #{lastPullTime,jdbcType=TIMESTAMP},
            app_key         = #{appKey,jdbcType=VARCHAR},
            app_secret      = #{appSecret,jdbcType=VARCHAR},
            session_key     = #{sessionKey,jdbcType=VARCHAR},
            authorize_time  = #{authorizeTime,jdbcType=TIMESTAMP},
            expire_time     = #{expireTime,jdbcType=TIMESTAMP},
            sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
            sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP},
            sys_block_flag  = #{sysBlockFlag,jdbcType=BIT}
        where shop_id = #{shopId,jdbcType=VARCHAR}
    </update>


    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unified_shop
    </select>

    <update id="updatePullInfo">
        update unified_shop
        <set>
            <if test="startPullTime != null">
                start_pull_time = #{startPullTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastPullTime != null">
                last_pull_time = #{lastPullTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where shop_id = #{shopId,jdbcType=VARCHAR}
    </update>
</mapper>