<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finley.gmair.dao.UnifiedTradeDOMapper">
    <resultMap id="BaseResultMap" type="finley.gmair.model.entity.UnifiedTradeDO">
        <constructor>
            <idArg column="trade_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="tid" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="trade_platform" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="shop_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="pay_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="consignee_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="consignee_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="consignee_province" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="consignee_city" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="consignee_district" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="consignee_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="payment" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="post_fee" javaType="java.lang.Double" jdbcType="DOUBLE"/>
            <arg column="buyer_message" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="seller_memo" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_fuzzy" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="crm_push_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="drift_push_status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="sys_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="sys_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="sys_block_flag" javaType="java.lang.Boolean" jdbcType="BIT"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        trade_id, tid, trade_platform, shop_id, status, create_time, update_time, pay_time,
    end_time, consignee_name, consignee_phone, consignee_province, consignee_city, consignee_district, 
    consignee_address, price, payment, post_fee, buyer_message, seller_memo, is_fuzzy, 
    crm_push_status, drift_push_status, sys_create_time, sys_update_time, sys_block_flag
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unified_trade
        where trade_id = #{tradeId,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="finley.gmair.model.entity.UnifiedTradeDO">
        insert into unified_trade (trade_id, tid, trade_platform,
                                   shop_id, status, create_time,
                                   update_time, pay_time, end_time,
                                   consignee_name, consignee_phone, consignee_province,
                                   consignee_city, consignee_district, consignee_address,
                                   price, payment, post_fee,
                                   buyer_message, seller_memo, is_fuzzy,
                                   crm_push_status, drift_push_status, sys_create_time,
                                   sys_update_time, sys_block_flag)
        values (#{tradeId,jdbcType=VARCHAR}, #{tid,jdbcType=VARCHAR}, #{tradePlatform,jdbcType=INTEGER},
                #{shopId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
                #{consigneeName,jdbcType=VARCHAR}, #{consigneePhone,jdbcType=VARCHAR},
                #{consigneeProvince,jdbcType=VARCHAR},
                #{consigneeCity,jdbcType=VARCHAR}, #{consigneeDistrict,jdbcType=VARCHAR},
                #{consigneeAddress,jdbcType=VARCHAR},
                #{price,jdbcType=DOUBLE}, #{payment,jdbcType=DOUBLE}, #{postFee,jdbcType=DOUBLE},
                #{buyerMessage,jdbcType=VARCHAR}, #{sellerMemo,jdbcType=VARCHAR}, #{isFuzzy,jdbcType=BIT},
                #{crmPushStatus,jdbcType=INTEGER}, #{driftPushStatus,jdbcType=INTEGER},
                #{sysCreateTime,jdbcType=TIMESTAMP},
                #{sysUpdateTime,jdbcType=TIMESTAMP}, #{sysBlockFlag,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="finley.gmair.model.entity.UnifiedTradeDO">
        insert into unified_trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tradeId != null">
                trade_id,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="tradePlatform != null">
                trade_platform,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="consigneeName != null">
                consignee_name,
            </if>
            <if test="consigneePhone != null">
                consignee_phone,
            </if>
            <if test="consigneeProvince != null">
                consignee_province,
            </if>
            <if test="consigneeCity != null">
                consignee_city,
            </if>
            <if test="consigneeDistrict != null">
                consignee_district,
            </if>
            <if test="consigneeAddress != null">
                consignee_address,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="payment != null">
                payment,
            </if>
            <if test="postFee != null">
                post_fee,
            </if>
            <if test="buyerMessage != null">
                buyer_message,
            </if>
            <if test="sellerMemo != null">
                seller_memo,
            </if>
            <if test="isFuzzy != null">
                is_fuzzy,
            </if>
            <if test="crmPushStatus != null">
                crm_push_status,
            </if>
            <if test="driftPushStatus != null">
                drift_push_status,
            </if>
            <if test="sysCreateTime != null">
                sys_create_time,
            </if>
            <if test="sysUpdateTime != null">
                sys_update_time,
            </if>
            <if test="sysBlockFlag != null">
                sys_block_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tradeId != null">
                #{tradeId,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=VARCHAR},
            </if>
            <if test="tradePlatform != null">
                #{tradePlatform,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consigneeName != null">
                #{consigneeName,jdbcType=VARCHAR},
            </if>
            <if test="consigneePhone != null">
                #{consigneePhone,jdbcType=VARCHAR},
            </if>
            <if test="consigneeProvince != null">
                #{consigneeProvince,jdbcType=VARCHAR},
            </if>
            <if test="consigneeCity != null">
                #{consigneeCity,jdbcType=VARCHAR},
            </if>
            <if test="consigneeDistrict != null">
                #{consigneeDistrict,jdbcType=VARCHAR},
            </if>
            <if test="consigneeAddress != null">
                #{consigneeAddress,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="payment != null">
                #{payment,jdbcType=DOUBLE},
            </if>
            <if test="postFee != null">
                #{postFee,jdbcType=DOUBLE},
            </if>
            <if test="buyerMessage != null">
                #{buyerMessage,jdbcType=VARCHAR},
            </if>
            <if test="sellerMemo != null">
                #{sellerMemo,jdbcType=VARCHAR},
            </if>
            <if test="isFuzzy != null">
                #{isFuzzy,jdbcType=BIT},
            </if>
            <if test="crmPushStatus != null">
                #{crmPushStatus,jdbcType=INTEGER},
            </if>
            <if test="driftPushStatus != null">
                #{driftPushStatus,jdbcType=INTEGER},
            </if>
            <if test="sysCreateTime != null">
                #{sysCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUpdateTime != null">
                #{sysUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysBlockFlag != null">
                #{sysBlockFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finley.gmair.model.entity.UnifiedTradeDO">
        update unified_trade
        <set>
            <if test="tid != null">
                tid = #{tid,jdbcType=VARCHAR},
            </if>
            <if test="tradePlatform != null">
                trade_platform = #{tradePlatform,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consigneeName != null">
                consignee_name = #{consigneeName,jdbcType=VARCHAR},
            </if>
            <if test="consigneePhone != null">
                consignee_phone = #{consigneePhone,jdbcType=VARCHAR},
            </if>
            <if test="consigneeProvince != null">
                consignee_province = #{consigneeProvince,jdbcType=VARCHAR},
            </if>
            <if test="consigneeCity != null">
                consignee_city = #{consigneeCity,jdbcType=VARCHAR},
            </if>
            <if test="consigneeDistrict != null">
                consignee_district = #{consigneeDistrict,jdbcType=VARCHAR},
            </if>
            <if test="consigneeAddress != null">
                consignee_address = #{consigneeAddress,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="payment != null">
                payment = #{payment,jdbcType=DOUBLE},
            </if>
            <if test="postFee != null">
                post_fee = #{postFee,jdbcType=DOUBLE},
            </if>
            <if test="buyerMessage != null">
                buyer_message = #{buyerMessage,jdbcType=VARCHAR},
            </if>
            <if test="sellerMemo != null">
                seller_memo = #{sellerMemo,jdbcType=VARCHAR},
            </if>
            <if test="isFuzzy != null">
                is_fuzzy = #{isFuzzy,jdbcType=BIT},
            </if>
            <if test="crmPushStatus != null">
                crm_push_status = #{crmPushStatus,jdbcType=INTEGER},
            </if>
            <if test="driftPushStatus != null">
                drift_push_status = #{driftPushStatus,jdbcType=INTEGER},
            </if>
            <if test="sysCreateTime != null">
                sys_create_time = #{sysCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysUpdateTime != null">
                sys_update_time = #{sysUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sysBlockFlag != null">
                sys_block_flag = #{sysBlockFlag,jdbcType=BIT},
            </if>
        </set>
        where trade_id = #{tradeId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="finley.gmair.model.entity.UnifiedTradeDO">
        update unified_trade
        set tid                = #{tid,jdbcType=VARCHAR},
            trade_platform     = #{tradePlatform,jdbcType=INTEGER},
            shop_id            = #{shopId,jdbcType=VARCHAR},
            status             = #{status,jdbcType=INTEGER},
            create_time        = #{createTime,jdbcType=TIMESTAMP},
            update_time        = #{updateTime,jdbcType=TIMESTAMP},
            pay_time           = #{payTime,jdbcType=TIMESTAMP},
            end_time           = #{endTime,jdbcType=TIMESTAMP},
            consignee_name     = #{consigneeName,jdbcType=VARCHAR},
            consignee_phone    = #{consigneePhone,jdbcType=VARCHAR},
            consignee_province = #{consigneeProvince,jdbcType=VARCHAR},
            consignee_city     = #{consigneeCity,jdbcType=VARCHAR},
            consignee_district = #{consigneeDistrict,jdbcType=VARCHAR},
            consignee_address  = #{consigneeAddress,jdbcType=VARCHAR},
            price              = #{price,jdbcType=DOUBLE},
            payment            = #{payment,jdbcType=DOUBLE},
            post_fee           = #{postFee,jdbcType=DOUBLE},
            buyer_message      = #{buyerMessage,jdbcType=VARCHAR},
            seller_memo        = #{sellerMemo,jdbcType=VARCHAR},
            is_fuzzy           = #{isFuzzy,jdbcType=BIT},
            crm_push_status    = #{crmPushStatus,jdbcType=INTEGER},
            drift_push_status  = #{driftPushStatus,jdbcType=INTEGER},
            sys_create_time    = #{sysCreateTime,jdbcType=TIMESTAMP},
            sys_update_time    = #{sysUpdateTime,jdbcType=TIMESTAMP},
            sys_block_flag     = #{sysBlockFlag,jdbcType=BIT}
        where trade_id = #{tradeId,jdbcType=VARCHAR}
    </update>

    <select id="selectByTidAndPlatform" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unified_trade
        where tid = #{tid,jdbcType=VARCHAR}
        and trade_platform = #{platform,jdbcType=INTEGER}
    </select>

    <select id="selectByTidAndShopId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unified_trade
        where tid = #{tid,jdbcType=VARCHAR}
        and shop_id = #{shopId,jdbcType=INTEGER}
    </select>

    <select id="query" parameterType="finley.gmair.model.request.TradeQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from unified_trade
        <where>
            <if test="tid != null">
                and tid = #{tid,jdbcType=VARCHAR}
            </if>
            <if test="shopId != null">
                and shop_id = #{shopId,jdbcType=VARCHAR}
            </if>
            <if test="platform != null">
                and trade_platform = #{platform,jdbcType=INTEGER}
            </if>
            <if test="startTime=null">
                <![CDATA[
                and pay_time >= #{beginTime,jdbcType=TIMESTAMP}
            ]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[
                and pay_time <= #{endTime,jdbcType=TIMESTAMP}
            ]]>
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
        </where>
        order by pay_time
    </select>
</mapper>