<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finley.gmair.dao.CommentMapper">

    <insert id="insert" parameterType="finley.gmair.model.knowledgebase.Comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment(knowledge_id,content,status,responser_id,type)
        values(#{knowledgeId},#{content},#{status},#{responserId},#{type})
    </insert>

    <update id="updateStatus">
        update comment set stauts=#{status} where id = #{id}
    </update>

    <select id="getByStatus" resultMap="comment">
        select * from comment
        where status=#{status}
    </select>

    <select id="query" parameterType="java.util.Map" resultMap="comment">
        SELECT *
        FROM comment
        WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="knowledge_id != null">
            AND knowledge_id = #{knowledge_id}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="responser_id != null">
            AND responser_id = #{responser_id}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
    </select>

    <resultMap id="comment" type="finley.gmair.model.knowledgebase.Comment">
        <result property="id" column="id"></result>
        <result property="knowledgeId" column="knowledge_id"></result>
        <result property="content" column="content"></result>
        <result property="status" column="status"></result>
        <result property="createTime" column="create_time"></result>
        <result property="solveTime" column="solve_time"></result>
        <result property="responserId" column="responser_id"></result>
        <result property="type" column="type"></result>
    </resultMap>
</mapper>
