<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finley.gmair.dao.KnowledgeMapper">

    <insert id="insert" parameterType="finley.gmair.po.Knowledge" useGeneratedKeys="true" keyProperty="id">
        insert into knowledge (title, content, state, views, knowledge_type, comment)
        values ( #{title}, #{content}, 0, 0, #{knowledge_type}, NULL)
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from knowledge where id = #{id}
    </delete>

    <update id="changeStatusTo2" parameterType="java.lang.Integer">
        update knowledge set status = 2 where id = #{id}
    </update>
    <update id="changeStatusTo1AddComment" >
        update knowledge set status = 1, comment=#{comment} where id = #{id}
    </update>
    <update id="modify" parameterType="finley.gmair.po.Knowledge">
        update knowledge
        set title=#{title},content=#{content},state=#{state}, views=#{views}, knowledge_type=#{knowledge_type}, comment=#{comment}
        where id=#{id}
    </update>
    <update id="increaseViews" parameterType="java.lang.Integer">
        update knowledge
        set views = views+1
        where id = #{id}
    </update>

    <select id="getById" resultMap="Knowledge">
        select * from knowledge where id = #{id}
    </select>
    <select id="getByType" resultMap="Knowledge">
        select * from knowledge where knowledge_type = #{knowledge_type}
    </select>
    <select id="getByState" resultMap="Knowledge">
        select * from knowledge where state = #{state}
    </select>

    <select id="search" resultMap="Knowledge">
        select * from knowledge where match(title, content) against #{key}
    </select>

    <resultMap id="Knowledge" type="finley.gmair.po.Knowledge"/>

</mapper>
