spring.application.name=machine-agent
server.port=8012
eureka.client.healthcheck=true
eureka.client.service-url.defaultZone=http://localhost:8000/eureka/
mybatis.config-location=classpath:mybatis-config.xml
spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.datasource.url=jdbc:mysql://127.0.0.1:3306/gmair_airquality?useLegacyDatetimeCode=false&serverTimezone=CTT&useUnicode=true&characterEncoding=UTF-8
spring.datasource.username=root
spring.datasource.password=

#rabbitmq configuration
spring.rabbitmq.host=localhost
spring.rabbitmq.port=5672
spring.rabbitmq.username=
spring.rabbitmq.password=

#mongo
spring.data.mongodb.uri=mongodb://localhost:27017/gmair_packet

#spring cache
spring.cache.type=caffeine
spring.cache.caffeine.spec=expireAfterAccess=60s
