<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/machineairquality.xml"/>
        <mapper resource="mapper/goods.xml"></mapper>
        <mapper resource="mapper/goodsmodel.xml"></mapper>
        <mapper resource="mapper/qrcode.xml"></mapper>
        <mapper resource="mapper/prebind.xml"></mapper>
        <mapper resource="mapper/idlemachine.xml"></mapper>
        <mapper resource="mapper/machinesetting.xml"></mapper>
        <mapper resource="mapper/machinepm25.xml"></mapper>
        <mapper resource="mapper/volumesetting.xml"></mapper>
        <mapper resource="mapper/lightsetting.xml"></mapper>
        <mapper resource="mapper/globalmachinesetting.xml"></mapper>
        <mapper resource="mapper/screenrecord.xml"></mapper>
        <mapper resource="mapper/machineqrcodebind.xml"></mapper>
        <mapper resource="mapper/controloption.xml"></mapper>
    </mappers>
</configuration>