<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/machineairquality.xml"/>
        <mapper resource="mapper/goods.xml"></mapper>
        <mapper resource="mapper/goodsmodel.xml"></mapper>
        <mapper resource="mapper/qrcode.xml"></mapper>
        <mapper resource="mapper/prebind.xml"></mapper>
        <mapper resource="mapper/idlemachine.xml"></mapper>
        <mapper resource="mapper/machinesetting.xml"></mapper>
        <mapper resource="mapper/machinepm25.xml"></mapper>
        <mapper resource="mapper/volumesetting.xml"></mapper>
        <mapper resource="mapper/lightsetting.xml"></mapper>
        <mapper resource="mapper/globalmachinesetting.xml"></mapper>
        <mapper resource="mapper/screenrecord.xml"></mapper>
        <mapper resource="mapper/machineqrcodebind.xml"></mapper>
        <mapper resource="mapper/controloption.xml"></mapper>
        <mapper resource="mapper/boardversion.xml"></mapper>
        <mapper resource="mapper/consumer_qrcode_bind.xml"></mapper>
        <mapper resource="mapper/machine_default_location.xml"></mapper>
        <mapper resource="mapper/pm2_5_boundary.xml"></mapper>
        <mapper resource="mapper/out_pm2_5_hourly.xml"></mapper>
        <mapper resource="mapper/modelvolume.xml"></mapper>
        <mapper resource="mapper/modellight.xml"></mapper>
        <mapper resource="mapper/model_enabled_component.xml"></mapper>
        <mapper resource="mapper/consumer_code_machine_view.xml"></mapper>
        <mapper resource="mapper/out_pm2_5_daily.xml"></mapper>
        <mapper resource="mapper/filter_limit_config.xml"></mapper>
        <mapper resource="mapper/filter_light.xml"></mapper>
        <mapper resource="mapper/machine_on_off.xml"></mapper>
        <mapper resource="mapper/machine_power_daily.xml"></mapper>
        <mapper resource="mapper/machine_list_view.xml"></mapper>
        <mapper resource="mapper/machine_second_list_view.xml"></mapper>
        <mapper resource="mapper/machine_list_daily.xml"></mapper>
        <mapper resource="mapper/machine_filter_clean.xml"></mapper>
        <mapper resource="mapper/machine_turbo_volume.xml"></mapper>
    </mappers>
</configuration>