<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/machineairquality.xml"/>
        <mapper resource="mapper/goods.xml"/>
        <mapper resource="mapper/goodsmodel.xml"/>
        <mapper resource="mapper/qrcode.xml"/>
        <mapper resource="mapper/prebind.xml"/>
        <mapper resource="mapper/idlemachine.xml"/>
        <mapper resource="mapper/machinesetting.xml"/>
        <mapper resource="mapper/machinepm25.xml"/>
        <mapper resource="mapper/volumesetting.xml"/>
        <mapper resource="mapper/lightsetting.xml"/>
        <mapper resource="mapper/globalmachinesetting.xml"/>
        <mapper resource="mapper/screenrecord.xml"/>
        <mapper resource="mapper/machineqrcodebind.xml"/>
        <mapper resource="mapper/controloption.xml"/>
        <mapper resource="mapper/boardversion.xml"/>
        <mapper resource="mapper/consumer_qrcode_bind.xml"/>
        <mapper resource="mapper/machine_default_location.xml"/>
        <mapper resource="mapper/pm2_5_boundary.xml"/>
        <mapper resource="mapper/out_pm2_5_hourly.xml"/>
        <mapper resource="mapper/modelvolume.xml"/>
        <mapper resource="mapper/modellight.xml"/>
        <mapper resource="mapper/modelMaterial.xml"/>
        <mapper resource="mapper/model_enabled_component.xml"/>
        <mapper resource="mapper/consumer_code_machine_view.xml"/>
        <mapper resource="mapper/out_pm2_5_daily.xml"/>
        <mapper resource="mapper/filter_limit_config.xml"/>
        <mapper resource="mapper/filter_light.xml"/>
        <mapper resource="mapper/machine_on_off.xml"/>
        <mapper resource="mapper/machine_power_daily.xml"/>
        <mapper resource="mapper/machine_list_view.xml"/>
        <mapper resource="mapper/machine_second_list_view.xml"/>
        <mapper resource="mapper/machine_list_daily.xml"/>
        <mapper resource="mapper/machine_filter_clean.xml"/>
        <mapper resource="mapper/machine_turbo_volume.xml"/>
        <mapper resource="mapper/machine_efficient_filter.xml"/>
        <mapper resource="mapper/model_efficient_config.xml"/>
        <mapper resource="mapper/machine_efficient_information.xml"/>
        <mapper resource="mapper/text.xml"/>
        <mapper resource="mapper/machine_primary_filter_info.xml"/>
        <mapper resource="mapper/machine_efficient_filter_info.xml"/>
    </mappers>
</configuration>