queue_name=
partial_data_queue_name=
machine_v1_queue_name=
turn_on_queue_name=turn-on-queue
turn_off_queue_name=turn-off-queue










#wangjiaqi-config
queue_name=machine-queue
partial_data_queue_name=partial-data-queue
machine_v1_queue_name=machine-v1-queue