<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/assign.xml" />
        <mapper resource="mapper/feedback.xml" />
        <mapper resource="mapper/member.xml" />
        <mapper resource="mapper/snapshot.xml" />
        <mapper resource="mapper/pic.xml" />
        <mapper resource="mapper/reconnaissance/reconnaissance.xml" />
        <mapper resource="mapper/snapshotloc.xml" />
    </mappers>
</configuration>