spring.application.name=preparation-agent

server.port=8016

eureka.client.healthcheck=true
eureka.client.service-url.defaultZone=http://127.0.0.1:8000/eureka

security.oauth2.resource.user-info-uri=http://127.0.0.1:8003/auth/user