<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/order.xml"/>
        <mapper resource="mapper/guomaiorder.xml" />
        <mapper resource="mapper/machinemission.xml" />
        <mapper resource="mapper/orderchannel.xml" />
        <mapper resource="mapper/orderdiversion/xml" />
        <mapper resource="mapper/orderitem.xml" />
        <mapper resource="mapper/ordermission.xml" />
        <mapper resource="mapper/orderstatus.xml" />
        <mapper resource="mapper/setupprovider.xml" />
    </mappers>
</configuration>