<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/platformorder.xml" />
        <mapper resource="mapper/platformorderchannel.xml" />
        <mapper resource="mapper/platformorderitem.xml" />
        <mapper resource="mapper/machineinstalltype.xml" />
        <mapper resource="mapper/setupprovider.xml" />
        <mapper resource="mapper/orderlocationretrycount.xml" />
    </mappers>
</configuration>