<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/cityairquality.xml"/>
        <mapper resource="mapper/cityairqualitystatistic.xml"/>
        <mapper resource="mapper/monitorstation.xml"/>
        <mapper resource="mapper/cityurl.xml"/>
        <mapper resource="mapper/obscurecity.xml"/>
    </mappers>
</configuration>