<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/TradeRecordDOMapper.xml"/>
        <mapper resource="mapper/UnifiedShopDOMapper.xml"/>
        <mapper resource="mapper/UnifiedTradeDOMapper.xml"/>
        <mapper resource="mapper/UnifiedOrderDOMapper.xml"/>
        <mapper resource="mapper/UnifiedSkuItemDOMapper.xml"/>
    </mappers>
</configuration>