<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="finley.gmair.model.installation.ExpressOrderStatus"/>
    </typeHandlers>
    <mappers>
        <mapper resource="mapper/assign.xml"/>
        <mapper resource="mapper/team.xml"/>
        <mapper resource="mapper/member.xml"/>
        <mapper resource="mapper/teamwatch.xml"/>
        <mapper resource="mapper/assignaction.xml"/>
        <mapper resource="mapper/assignsnapshot.xml"/>
        <mapper resource="mapper/assigncode.xml"/>
        <mapper resource="mapper/config.xml"/>
        <mapper resource="mapper/assign_report_view.xml"/>
        <mapper resource="mapper/picture_md5.xml"/>
        <mapper resource="mapper/express.xml"/>
        <mapper resource="mapper/company.xml"/>
        <mapper resource="mapper/fixsnapshot.xml"/>
        <mapper resource="mapper/surveysnapshot.xml"/>
        <mapper resource="mapper/changemachinesnapshot.xml"/>
        <mapper resource="mapper/disassemblesnapshot.xml"/>
        <mapper resource="mapper/assign_type_info.xml"/>
    </mappers>
</configuration>