spring.application.name=monitor-agent
server.port=
eureka.client.healthcheck=true
eureka.client.service-url.defaultZone=http://localhost:8000/eureka/
spring.datasource.url=jdbc:mysql://127.0.0.1:3306/gmair_machine?useLegacyDatetimeCode=false&serverTimezone=CTT&useUnicode=true&characterEncoding=UTF-8
spring.datasource.username=
spring.datasource.password=
