<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gmair.mqtt.logger_record">

    <insert id="insert" parameterType="finley.gmair.model.mqtt.LoggerRecord" useGeneratedKeys="false" >
        insert into gmair_mqtt.mqtt_logger_record(record_id, topic_context, payload_context,block_flag, create_time, machine_id)
        values(#{recordId}, #{topicContext}, #{payloadContext}, #{blockFlag}, #{createAt}, #{machineId})
    </insert>

    <select id="selectOne" parameterType="java.lang.String" resultType="finley.gmair.model.mqtt.LoggerRecord">
        select * from gmair_mqtt.mqtt_logger_record
        where 1=1
        <if test="recordId != null">
            and record_id = #{recordId}
        </if>
        order by create_time desc
    </select>
</mapper>