spring.application.name=consumer-auth-agent

server.port=8003

eureka.client.healthcheck=true
eureka.client.service-url.defaultZone=http://127.0.0.1:8000/eureka/

mybatis.config-location=classpath:mybatis-config.xml

spring.datasource.driver-class-name=com.mysql.jdbc.Driver

spring.datasource.url=jdbc:mysql://127.0.0.1:3306/gmair_userinfo?useLegacyDatetimeCode=false&serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8
spring.datasource.username=root
spring.datasource.password=

security.oauth2.resource.filter-order=3

spring.cache.type=redis
spring.redis.host=127.0.0.1
