<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/admin/admin.xml"/>
        <mapper resource="mapper/consumer/consumer.xml"/>
        <mapper resource="mapper/consumer/consumeraddress.xml"/>
        <mapper resource="mapper/consumer/consumerphone.xml"/>
    </mappers>
</configuration>