server.port=8008

spring.application.name=core-agent

eureka.client.healthcheck=true
eureka.client.service-url.defaultZone=http://localhost:8000/eureka/

##memcache configuration
memcached.cache.servers=127.0.0.1:11211
memcached.cache.mode=static

##code will be expired with 5 minutes
memcached.cache.expiration=300

##mongodb
spring.data.mongodb.uri=mongodb://localhost:27017/gmair_packet

##rabbitmq
spring.rabbitmq.host=
spring.rabbitmq.port=
spring.rabbitmq.username=
spring.rabbitmq.password=