<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finley.gmair.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="finley.gmair.model.ordernew.Order">
        <!--@mbg.generated-->
        <!--@Table gmair_ordercentre.order-->
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="trade_id" jdbcType="VARCHAR" property="tradeId"/>
        <result column="num_iid" jdbcType="BIGINT" property="numIid"/>
        <result column="cid" jdbcType="BIGINT" property="cid"/>
        <result column="oid" jdbcType="BIGINT" property="oid"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="num" jdbcType="BIGINT" property="num"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="sku_properties_name" jdbcType="VARCHAR" property="skuPropertiesName"/>
        <result column="seller_type" jdbcType="VARCHAR" property="sellerType"/>
        <result column="refund_status" jdbcType="VARCHAR" property="refundStatus"/>
        <result column="seller_rate" jdbcType="BOOLEAN" property="sellerRate"/>
        <result column="buyer_rate" jdbcType="BOOLEAN" property="buyerRate"/>
        <result column="is_daixiao" jdbcType="BOOLEAN" property="isDaixiao"/>
        <result column="pic_path" jdbcType="VARCHAR" property="picPath"/>
        <result column="store_code" jdbcType="VARCHAR" property="storeCode"/>
        <result column="shipping_type" jdbcType="VARCHAR" property="shippingType"/>
        <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany"/>
        <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo"/>
        <result column="consign_time" jdbcType="TIMESTAMP" property="consignTime"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="total_fee" jdbcType="DOUBLE" property="totalFee"/>
        <result column="payment" jdbcType="DOUBLE" property="payment"/>
        <result column="adjust_fee" jdbcType="DOUBLE" property="adjustFee"/>
        <result column="discount_fee" jdbcType="DOUBLE" property="discountFee"/>
        <result column="part_mjz_discount" jdbcType="DOUBLE" property="partMjzDiscount"/>
        <result column="divide_order_fee" jdbcType="DOUBLE" property="divideOrderFee"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        order_id, trade_id, num_iid, cid, oid, `status`, num, title, sku_id, sku_properties_name,
        seller_type, refund_status, seller_rate, buyer_rate, is_daixiao, pic_path, store_code,
        shipping_type, logistics_company, invoice_no, consign_time, price, total_fee, payment,
        adjust_fee, discount_fee, part_mjz_discount, divide_order_fee
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from gmair_ordercentre.order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from gmair_ordercentre.order
        where order_id = #{orderId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="finley.gmair.model.ordernew.Order">
        <!--@mbg.generated-->
        insert into gmair_ordercentre.order (order_id, trade_id, num_iid,
                                             cid, oid, `status`, num,
                                             title, sku_id, sku_properties_name,
                                             seller_type, refund_status, seller_rate,
                                             buyer_rate, is_daixiao, pic_path,
                                             store_code, shipping_type, logistics_company,
                                             invoice_no, consign_time, price,
                                             total_fee, payment, adjust_fee,
                                             discount_fee, part_mjz_discount, divide_order_fee)
        values (#{orderId,jdbcType=VARCHAR}, #{tradeId,jdbcType=VARCHAR}, #{numIid,jdbcType=BIGINT},
                #{cid,jdbcType=BIGINT}, #{oid,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, #{num,jdbcType=BIGINT},
                #{title,jdbcType=VARCHAR}, #{skuId,jdbcType=BIGINT}, #{skuPropertiesName,jdbcType=VARCHAR},
                #{sellerType,jdbcType=VARCHAR}, #{refundStatus,jdbcType=VARCHAR}, #{sellerRate,jdbcType=BOOLEAN},
                #{buyerRate,jdbcType=BOOLEAN}, #{isDaixiao,jdbcType=BOOLEAN}, #{picPath,jdbcType=VARCHAR},
                #{storeCode,jdbcType=VARCHAR}, #{shippingType,jdbcType=VARCHAR}, #{logisticsCompany,jdbcType=VARCHAR},
                #{invoiceNo,jdbcType=VARCHAR}, #{consignTime,jdbcType=TIMESTAMP}, #{price,jdbcType=DOUBLE},
                #{totalFee,jdbcType=DOUBLE}, #{payment,jdbcType=DOUBLE}, #{adjustFee,jdbcType=DOUBLE},
                #{discountFee,jdbcType=DOUBLE}, #{partMjzDiscount,jdbcType=DOUBLE}, #{divideOrderFee,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" parameterType="finley.gmair.model.ordernew.Order">
        <!--@mbg.generated-->
        insert into gmair_ordercentre.order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="tradeId != null">
                trade_id,
            </if>
            <if test="numIid != null">
                num_iid,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="oid != null">
                oid,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="skuPropertiesName != null">
                sku_properties_name,
            </if>
            <if test="sellerType != null">
                seller_type,
            </if>
            <if test="refundStatus != null">
                refund_status,
            </if>
            <if test="sellerRate != null">
                seller_rate,
            </if>
            <if test="buyerRate != null">
                buyer_rate,
            </if>
            <if test="isDaixiao != null">
                is_daixiao,
            </if>
            <if test="picPath != null">
                pic_path,
            </if>
            <if test="storeCode != null">
                store_code,
            </if>
            <if test="shippingType != null">
                shipping_type,
            </if>
            <if test="logisticsCompany != null">
                logistics_company,
            </if>
            <if test="invoiceNo != null">
                invoice_no,
            </if>
            <if test="consignTime != null">
                consign_time,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="totalFee != null">
                total_fee,
            </if>
            <if test="payment != null">
                payment,
            </if>
            <if test="adjustFee != null">
                adjust_fee,
            </if>
            <if test="discountFee != null">
                discount_fee,
            </if>
            <if test="partMjzDiscount != null">
                part_mjz_discount,
            </if>
            <if test="divideOrderFee != null">
                divide_order_fee,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="tradeId != null">
                #{tradeId,jdbcType=VARCHAR},
            </if>
            <if test="numIid != null">
                #{numIid,jdbcType=BIGINT},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=BIGINT},
            </if>
            <if test="oid != null">
                #{oid,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=BIGINT},
            </if>
            <if test="skuPropertiesName != null">
                #{skuPropertiesName,jdbcType=VARCHAR},
            </if>
            <if test="sellerType != null">
                #{sellerType,jdbcType=VARCHAR},
            </if>
            <if test="refundStatus != null">
                #{refundStatus,jdbcType=VARCHAR},
            </if>
            <if test="sellerRate != null">
                #{sellerRate,jdbcType=BOOLEAN},
            </if>
            <if test="buyerRate != null">
                #{buyerRate,jdbcType=BOOLEAN},
            </if>
            <if test="isDaixiao != null">
                #{isDaixiao,jdbcType=BOOLEAN},
            </if>
            <if test="picPath != null">
                #{picPath,jdbcType=VARCHAR},
            </if>
            <if test="storeCode != null">
                #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="shippingType != null">
                #{shippingType,jdbcType=VARCHAR},
            </if>
            <if test="logisticsCompany != null">
                #{logisticsCompany,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNo != null">
                #{invoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="consignTime != null">
                #{consignTime,jdbcType=TIMESTAMP},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="totalFee != null">
                #{totalFee,jdbcType=DOUBLE},
            </if>
            <if test="payment != null">
                #{payment,jdbcType=DOUBLE},
            </if>
            <if test="adjustFee != null">
                #{adjustFee,jdbcType=DOUBLE},
            </if>
            <if test="discountFee != null">
                #{discountFee,jdbcType=DOUBLE},
            </if>
            <if test="partMjzDiscount != null">
                #{partMjzDiscount,jdbcType=DOUBLE},
            </if>
            <if test="divideOrderFee != null">
                #{divideOrderFee,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finley.gmair.model.ordernew.Order">
        <!--@mbg.generated-->
        update gmair_ordercentre.order
        <set>
            <if test="tradeId != null">
                trade_id = #{tradeId,jdbcType=VARCHAR},
            </if>
            <if test="numIid != null">
                num_iid = #{numIid,jdbcType=BIGINT},
            </if>
            <if test="cid != null">
                cid = #{cid,jdbcType=BIGINT},
            </if>
            <if test="oid != null">
                oid = #{oid,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=BIGINT},
            </if>
            <if test="skuPropertiesName != null">
                sku_properties_name = #{skuPropertiesName,jdbcType=VARCHAR},
            </if>
            <if test="sellerType != null">
                seller_type = #{sellerType,jdbcType=VARCHAR},
            </if>
            <if test="refundStatus != null">
                refund_status = #{refundStatus,jdbcType=VARCHAR},
            </if>
            <if test="sellerRate != null">
                seller_rate = #{sellerRate,jdbcType=BOOLEAN},
            </if>
            <if test="buyerRate != null">
                buyer_rate = #{buyerRate,jdbcType=BOOLEAN},
            </if>
            <if test="isDaixiao != null">
                is_daixiao = #{isDaixiao,jdbcType=BOOLEAN},
            </if>
            <if test="picPath != null">
                pic_path = #{picPath,jdbcType=VARCHAR},
            </if>
            <if test="storeCode != null">
                store_code = #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="shippingType != null">
                shipping_type = #{shippingType,jdbcType=VARCHAR},
            </if>
            <if test="logisticsCompany != null">
                logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
            </if>
            <if test="invoiceNo != null">
                invoice_no = #{invoiceNo,jdbcType=VARCHAR},
            </if>
            <if test="consignTime != null">
                consign_time = #{consignTime,jdbcType=TIMESTAMP},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="totalFee != null">
                total_fee = #{totalFee,jdbcType=DOUBLE},
            </if>
            <if test="payment != null">
                payment = #{payment,jdbcType=DOUBLE},
            </if>
            <if test="adjustFee != null">
                adjust_fee = #{adjustFee,jdbcType=DOUBLE},
            </if>
            <if test="discountFee != null">
                discount_fee = #{discountFee,jdbcType=DOUBLE},
            </if>
            <if test="partMjzDiscount != null">
                part_mjz_discount = #{partMjzDiscount,jdbcType=DOUBLE},
            </if>
            <if test="divideOrderFee != null">
                divide_order_fee = #{divideOrderFee,jdbcType=DOUBLE},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="finley.gmair.model.ordernew.Order">
        <!--@mbg.generated-->
        update gmair_ordercentre.order
        set trade_id = #{tradeId,jdbcType=VARCHAR},
        num_iid = #{numIid,jdbcType=BIGINT},
        cid = #{cid,jdbcType=BIGINT},
        oid = #{oid,jdbcType=BIGINT},
        `status` = #{status,jdbcType=VARCHAR},
        num = #{num,jdbcType=BIGINT},
        title = #{title,jdbcType=VARCHAR},
        sku_id = #{skuId,jdbcType=BIGINT},
        sku_properties_name = #{skuPropertiesName,jdbcType=VARCHAR},
        seller_type = #{sellerType,jdbcType=VARCHAR},
        refund_status = #{refundStatus,jdbcType=VARCHAR},
        seller_rate = #{sellerRate,jdbcType=BOOLEAN},
        buyer_rate = #{buyerRate,jdbcType=BOOLEAN},
        is_daixiao = #{isDaixiao,jdbcType=BOOLEAN},
        pic_path = #{picPath,jdbcType=VARCHAR},
        store_code = #{storeCode,jdbcType=VARCHAR},
        shipping_type = #{shippingType,jdbcType=VARCHAR},
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
        price = #{price,jdbcType=DOUBLE},
        total_fee = #{totalFee,jdbcType=DOUBLE},
        payment = #{payment,jdbcType=DOUBLE},
        adjust_fee = #{adjustFee,jdbcType=DOUBLE},
        discount_fee = #{discountFee,jdbcType=DOUBLE},
        part_mjz_discount = #{partMjzDiscount,jdbcType=DOUBLE},
        divide_order_fee = #{divideOrderFee,jdbcType=DOUBLE}
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-10-19-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gmair_ordercentre.order
    </select>
</mapper>