<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finley.gmair.dao.SkuItemMapper">
    <resultMap id="BaseResultMap" type="finley.gmair.model.ordernew.SkuItem">
        <!--@mbg.generated-->
        <!--@Table gmair_ordercentre.sku_item-->
        <id column="item_id" jdbcType="VARCHAR" property="itemId"/>
        <result column="num_iid" jdbcType="VARCHAR" property="numIid"/>
        <result column="sku_id" jdbcType="VARCHAR" property="skuId"/>
        <result column="machine_model" jdbcType="VARCHAR" property="machineModel"/>
        <result column="fictitious" jdbcType="BOOLEAN" property="fictitious"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="properties_name" jdbcType="VARCHAR" property="propertiesName"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="block_flag" jdbcType="BOOLEAN" property="blockFlag"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        item_id, num_iid, sku_id, machine_model, fictitious, title, properties_name, price, block_flag, create_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from gmair_ordercentre.sku_item
        where item_id = #{itemId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete
        from gmair_ordercentre.sku_item
        where item_id = #{itemId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="finley.gmair.model.ordernew.SkuItem">
        <!--@mbg.generated-->
        insert into gmair_ordercentre.sku_item (item_id, num_iid, sku_id,
        machine_model, fictitious, title,
        properties_name, price, block_flag,
        create_at)
        values (#{itemId,jdbcType=VARCHAR}, #{numIid,jdbcType=VARCHAR}, #{skuId,jdbcType=VARCHAR},
        #{machineModel,jdbcType=VARCHAR}, #{fictitious,jdbcType=BOOLEAN}, #{title,jdbcType=VARCHAR},
        #{propertiesName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{blockFlag,jdbcType=BOOLEAN},
        #{createAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="finley.gmair.model.ordernew.SkuItem">
        <!--@mbg.generated-->
        insert into gmair_ordercentre.sku_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                item_id,
            </if>
            <if test="numIid != null">
                num_iid,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="machineModel != null">
                machine_model,
            </if>
            <if test="fictitious != null">
                fictitious,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="propertiesName != null">
                properties_name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="blockFlag != null">
                block_flag,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                #{itemId,jdbcType=VARCHAR},
            </if>
            <if test="numIid != null">
                #{numIid,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=VARCHAR},
            </if>
            <if test="machineModel != null">
                #{machineModel,jdbcType=VARCHAR},
            </if>
            <if test="fictitious != null">
                #{fictitious,jdbcType=BOOLEAN},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="propertiesName != null">
                #{propertiesName,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="blockFlag != null">
                #{blockFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="finley.gmair.model.ordernew.SkuItem">
        <!--@mbg.generated-->
        update gmair_ordercentre.sku_item
        <set>
            <if test="numIid != null">
                num_iid = #{numIid,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=VARCHAR},
            </if>
            <if test="machineModel != null">
                machine_model = #{machineModel,jdbcType=VARCHAR},
            </if>
            <if test="fictitious != null">
                fictitious = #{fictitious,jdbcType=BOOLEAN},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="propertiesName != null">
                properties_name = #{propertiesName,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="blockFlag != null">
                block_flag = #{blockFlag,jdbcType=BOOLEAN},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where item_id = #{itemId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="finley.gmair.model.ordernew.SkuItem">
        <!--@mbg.generated-->
        update gmair_ordercentre.sku_item
        set num_iid = #{numIid,jdbcType=VARCHAR},
        sku_id = #{skuId,jdbcType=VARCHAR},
        machine_model = #{machineModel,jdbcType=VARCHAR},
        fictitious = #{fictitious,jdbcType=BOOLEAN},
        title = #{title,jdbcType=VARCHAR},
        properties_name = #{propertiesName,jdbcType=VARCHAR},
        price = #{price,jdbcType=DOUBLE},
        block_flag = #{blockFlag,jdbcType=BOOLEAN},
        create_at = #{createAt,jdbcType=TIMESTAMP}
        where item_id = #{itemId,jdbcType=VARCHAR}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gmair_ordercentre.sku_item
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-01-->
    <select id="selectMachineModelByNumIidAndSkuId" resultType="java.lang.String">
        select machine_model
        from gmair_ordercentre.sku_item
        where num_iid = #{numIid,jdbcType=VARCHAR}
          and sku_id = #{skuId,jdbcType=VARCHAR}
    </select>
    <select id="selectMachineModelByNumIid" resultType="java.lang.String">
        select machine_model
        from gmair_ordercentre.sku_item
        where num_iid = #{numIid,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-05-->
    <select id="selectFictitiousByNumIidAndSkuId" resultType="java.lang.Boolean">
        select fictitious
        from gmair_ordercentre.sku_item
        where num_iid = #{numIid,jdbcType=VARCHAR}
          and sku_id = #{skuId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-11-05-->
    <select id="selectFictitiousByNumIid" resultType="java.lang.Boolean">
        select fictitious
        from gmair_ordercentre.sku_item
        where num_iid = #{numIid,jdbcType=VARCHAR}
    </select>

    <select id="selectAllByNumIidAndSkuId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gmair_ordercentre.sku_item
        where
        <choose>
            <when test="numIid == null">
                num_iid is null
            </when>
            <otherwise>
                num_iid = #{numIid,jdbcType=VARCHAR}
            </otherwise>
        </choose>
        and
        <choose>
            <when test="skuId == null">
                sku_id is null
            </when>
            <otherwise>
                sku_id = #{skuId,jdbcType=VARCHAR}
            </otherwise>
        </choose>
    </select>

    <update id="truncateTable">
        truncate table gmair_ordercentre.sku_item
    </update>
</mapper>