<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/case_lng_lat.xml"></mapper>
        <mapper resource="mapper/case_profile.xml"></mapper>
        <mapper resource="mapper/check_equipment.xml"></mapper>
    </mappers>
</configuration>