server.port=8008

spring.application.name=core-agent

eureka.client.healthcheck=true
eureka.client.service-url.defaultZone=http://localhost:8000/eureka/
##mqtt配置
spring.mqtt.inbound.url=tcp://116.62.233.170:61613
spring.mqtt.inbound.clientId=familyServerIn
spring.mqtt.inbound.topics=topic1,topic2
spring.mqtt.inbound.username=admin
spring.mqtt.inbound.password=Gmair@2019
spring.mqtt.outbound.urls=tcp://116.62.233.170:61613
spring.mqtt.outbound.clientId=familyServerOut
spring.mqtt.outbound.topic=topic1
spring.mqtt.outbound.username=admin
spring.mqtt.outbound.password=Gmair@2019