<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="finley.gmair.dao.knowledgebase.KnowledgeMapper">

    <insert id="insert" parameterType="finley.gmair.model.knowledgebase.Knowledge" useGeneratedKeys="true" keyProperty="id">
        insert into knowledge (title, content, status, views)
        values ( #{title}, #{content}, 0, 0)
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from knowledge where id = #{id}
    </delete>

    <update id="changeStatus">
        update knowledge set status=#{status} where id = #{id}
    </update>
    <update id="modify" parameterType="finley.gmair.model.knowledgebase.Knowledge">
        update knowledge
        set title=#{title},content=#{content},modify_time=#{modifyTime},status=0
        where id=#{id}
    </update>
    <update id="increaseViews" parameterType="java.lang.Integer">
        update knowledge
        set views = views+1
        where id = #{id}
    </update>

    <select id="getById" resultMap="Knowledge">
        select * from knowledge where id = #{id}
    </select>
<!--    <select id="getByType" resultMap="Knowledge">-->
<!--        select * from knowledge where knowledge_type = #{knowledge_type}-->
<!--    </select>-->
    <select id="getByState" resultMap="Knowledge">
        select * from knowledge where status = #{status}
    </select>

    <select id="search" resultMap="Knowledge">
        select * from knowledge where match(title, content) against (#{key})
    </select>

    <select id="getByIdList" resultMap="Knowledge">
        select * from knowledge where id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getKeywords">
        select keyword from keywords order by id desc limit 1
    </select>

    <resultMap id="Knowledge" type="finley.gmair.model.knowledgebase.Knowledge">
        <result property="createTime" column="create_time"></result>
        <result property="modifyTime" column="modify_time"></result>
    </resultMap>

</mapper>
