<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/wechat/accesstoken.xml"></mapper>
        <mapper resource="mapper/wechat/messagetemplate.xml"></mapper>
        <mapper resource="mapper/wechat/wechatuser.xml"></mapper>
        <mapper resource="mapper/wechat/autoreply.xml"></mapper>
        <mapper resource="mapper/wechat/articletemplate.xml"></mapper>
        <mapper resource="mapper/wechat/picturetemplate.xml"></mapper>
        <mapper resource="mapper/wechat/videotemplate.xml"></mapper>
        <mapper resource="mapper/wechat/texttemplate.xml"></mapper>
        <mapper resource="mapper/wechat/wechatresource.xml"></mapper>
        <mapper resource="mapper/wechat/replyrecord.xml"></mapper>
    </mappers>
</configuration>