<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/indoor_pm25_hourly.xml"></mapper>
        <mapper resource="mapper/volume_hourly.xml"></mapper>
        <mapper resource="mapper/temp_hourly.xml"></mapper>
        <mapper resource="mapper/humid_hourly.xml"></mapper>
        <mapper resource="mapper/co2_hourly.xml"></mapper>
        <mapper resource="mapper/heat_hourly.xml"></mapper>
        <mapper resource="mapper/power_hourly.xml"></mapper>
        <mapper resource="mapper/mode_hourly.xml"></mapper>
        <mapper resource="mapper/user_action.xml"></mapper>
        <mapper resource="mapper/co2_daily.xml"></mapper>
        <mapper resource="mapper/heat_daily.xml"></mapper>
        <mapper resource="mapper/humid_daily.xml"></mapper>
        <mapper resource="mapper/indoor_pm25_daily.xml"></mapper>
        <mapper resource="mapper/mode_daily.xml"></mapper>
        <mapper resource="mapper/power_daily.xml"></mapper>
        <mapper resource="mapper/temp_daily.xml"></mapper>
        <mapper resource="mapper/volume_daily.xml"></mapper>
        <mapper resource="mapper/component.xml"></mapper>
    </mappers>
</configuration>